html, body {
  margin: 0;
  height: 100%;
}

body {
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

p {
  margin: 0;
}

.info-box {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(2, max-content 1fr) max-content;
  padding: 10px;
  gap: 10px;
  text-align: center;
}

.dep-time, .stop-label {
  padding: 5px;
}

.dep-time {
  border: 1px solid black;
  border-radius: 26px;
  width: 5em;
}

.arrow-down, .arrow-up {
  font-size: 50px;
}